on:
  push:
    branches:
      - main

jobs:
  build_css:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source Git branch
        uses: actions/checkout@v2
        with:
          ref: main
          fetch-depth: 1

      - name: Compile CSS from SCSS files
        uses: gha-utilities/sass-build@v0.3.7
        with:
          source: |
            assets/sass/main.scss
            assets/sass/noscript.scss
          destination: |
            assets/css/main.css
            assets/css/noscript.css

      - name: Make destination directory for compiled version
        run: mkdir -vp /tmp/website

      - name: Copy compiled version
        run: cp -rfv . /tmp/website/

      - name: Checkout destination Git branch
        uses: actions/checkout@v2
        with:
          ref: gh-pages
          fetch-depth: 1

      - name: Move compiled CSS to path within pr-pages branch
        run: mv -rfv /tmp/website/* .

      - name: Add and Commit changes to pr-pages branch
        run: |
          git config --local user.email 'action@github.com'
          git config --local user.name 'GitHub Action'
          git add .
          git add -f assets/css/* 
          git commit -m 'Compiled website'

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
